Flask
flask-session
asyncio
PyPDF2
docx
docx2txt
langchain
json
langchain-google-genai
google-generativeai
langchain-vectorstores
langchain-core
dotenv
requests
beautifulsoup4
werkzeug
pandas
spacy
neo4j
langchain-community
typing
langchain-experimental
langchain-docstore
sentence-transformers
transformers
openai
ollama-functions